<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Food</title>
    <link th:href="@{css/styles.css}" rel="stylesheet" />
</head>
<body class="">

<!--Insert NavBar Fragment-->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- success message -->
<!--<div th:if="${param.success}" class="">-->
<!--    <div class="grid place-items-center">-->
<!--        <p>-->
<!--            You've successfully added Food!-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->
<h1 class="grid place-items-center mt-5 mb-5">Food</h1>

<!-- Show Food-->
<div class="grid place-items-center">
    <div class="grid grid-cols-4">
        <div th:each="food : ${foodBag}" class="border-2 border-black p-5 rounded-md mt-3 mr-2 text-center w-72 bg-orange-200">

           <p th:text="${food.name}" class="text-red-800 font-semibold text-lg"></p>
           <p>Serving Size: <span th:text="${food.servingSize}" class="text-black"></span> grams</p>
           <p>Calories: <span th:text="${food.calories}" class="text-black"></span></p>
           <p>Fat: <span th:text="${food.fat}" class="text-black"></span> grams</p>
           <p>Carbs: <span th:text="${food.carbs}" class="text-black"></span> grams</p>
            <p>Protein: <span th:text="${food.protein}" class="text-black"></span> grams</p>
        </div>
    </div>

</div>


<!--  Add Food Form -->
<div class="grid place-items-center">
    <div class="bg-blue-200 border-2 border-black p-5 rounded-md mt-5">
        <form th:action="@{/food}" method="post" th:object="${food}" class="bg-blue-200">
            <h1 class="font-sans text-center text-lg mb-3">Add Food</h1>
            <div class="">
                <label class="" for="name">Food Name</label>:
                <input id="name" class="mb-3 outline-none" th:field="*{name}"
                       required autofocus="autofocus" />
            </div>
            <div class="">
                <label class="" for="servingSize">Serving Size (g)</label>:
                <input id="servingSize" class="mb-3 outline-none" th:field="*{servingSize}"
                       required autofocus="autofocus" />
            </div>
            <div class="">
                <label class="" for="calories">Calories</label>:
                <input id="calories" class="mb-3 outline-none" th:field="*{calories}" required autofocus="autofocus" />
            </div>
            <div class="">
                <label class="" for="fat">Fat</label>:
                <input id="fat" class="mb-3 outline-none" th:field="*{fat}" required autofocus="autofocus" />
            </div>
            <div class="">
                <label class="" for="carbs">Carbs</label>:
                <input id="carbs" class="mb-3 outline-none" th:field="*{carbs}" required autofocus="autofocus" />
            </div>
            <div class="">
                <label class="" for="protein">Protein</label>:
                <input id="protein" class="mb-3 outline-none" th:field="*{protein}" required autofocus="autofocus" />
            </div>
            <div class="">
                <label class="" for="foodCategory">Category</label>:
                <select th:field="*{foodCategory}" id="foodCategory">
                    <option value="0"></option>
                    <option th:each="foodCategory : ${categories}" th:value="${foodCategory.getName()}" th:text="${foodCategory.getName()}"></option>
                </select>
            </div>
            <div class="text-center mt-5">
                <button type="submit" class="text-white bg-green-800 rounded-md px-2 py-1.5">Add Food</button>
            </div>
        </form>
    </div>
</div>


<!--Create Footer-->

</body>
</html>