<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/styles.css}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Fitness App</title>
</head>
<body class="bg-blue-200">
<div>
    <div th:insert="fragments/navbar :: navbar"></div>
</div>
<div class="grid place-items-center mt-8">
    <h1 class="text-lg font-semibold">Welcome <span sec:authentication="principal.username"></span></h1>
    <div class="flex mt-2">

<!--    create meal form/button-->
    <form th:action="@{/meal/create}" method="post" th:object="${meal}" class="bg-white border-2 border-black p-5 rounded-md">
        <h1 class="font-sans text-center text-lg mb-3">Click below to Create a Meal</h1>
        <div class="text-center mt-5">
            <button type="submit" class="text-white bg-purple-800 rounded-md px-2 py-1.5">New Meal</button>
        </div>
    </form>
        <!--    create workout form/button-->
        <form th:action="@{/workout/create}" method="post" th:object="${workout}"
              class="bg-white border-2 border-black p-5 rounded-md ml-8">
            <h1 class="font-sans text-center text-lg mb-3">Click below to Create a Workout</h1>
            <div class="text-center mt-5">
                <button type="submit" class="text-white bg-red-800 rounded-md px-2 py-1.5">New Workout</button>
            </div>
        </form>
    </div>
</div>
<div class="grid grid-cols-2 place-items-center mt-5 border-t-2 border-black">
    <div class="bg-violet-200 border-2 border-black p-5 rounded-md mb-10 mt-4" id="calorieCalc">
        <form th:action="@{/user/healthProfile}" method="post" th:object="${healthProfile}" class="">
            <div class="text-center">
                <div class="border-b-2"><h1 class="font-sans text-lg font-semibold mb-3">Calculate Your Maintenance Calories</h1></div>

            <small class="">These are the amount of calories you should consume each day to maintain your current weight.</small></br>
            <small class="">If you want to lose 1 pound a week, eat 500 fewer calories per day than this amount.</small></br></br>
            </div>
                <div class="">
                <label class="" for="calcWeight">Weight (lbs)</label>:
                <input id="calcWeight" class="mb-3 outline-none" th:field="*{weight}"
                       required autofocus="autofocus" />
            </div>
            <div class="">
                <label class="" for="calcHeight">Height (in)</label>:
                <input id="calcHeight" class="mb-3 outline-none" th:value="${height}"
                       required autofocus="autofocus" />
            </div>
            <div class="">
                <label class="" for="calcAge">Age</label>:
                <input id="calcAge" class="mb-3 outline-none" th:value="${age}"
                       required autofocus="autofocus" />
            </div>
            <div class="text-center">
                <label for="male">Male</label>
                <input type="radio" id='male' name="gender" value="male">
                <label for="female">Female</label>
                <input type="radio" id='female' name="gender" value="female">
            </div>
            </br>
            <div class="">
                <label class="" for="exerciseLevel">Exercise Level</label>:
                <select th:field="*{exerciseLevel}" id="exerciseLevel">
                    <option value="0"></option>
                    <option th:text="${levelOne}" th:value="1.2"></option>
                    <option th:text="${levelTwo}" th:value="1.375"></option>
                    <option th:text="${levelThree}" th:value="1.55"></option>
                    <option th:text="${levelFour}" th:value="1.725"></option>
                    <option th:text="${levelFive}" th:value="1.9"></option>
<!--                    <option th:text="If you exercise lightly 1-3 times per week" th:value="1.375"></option>-->
<!--                    <option th:text="If you exercise 3-5 days per week" th:value="1.55"></option>-->
<!--                    <option th:text="If you exercise 6-7 days" th:value="1.725"></option>-->
<!--                    <option th:text="If you are sedentary and do not exercise" th:value="1.9"></option>-->
                </select>
<!--                <input id="calcExLevel" class="mb-3 outline-none" th:field="*{exerciseLevel}"-->
<!--                       required autofocus="autofocus" />-->
<!--                </br>-->
<!--                <small>If you are sedentary and do not exercise, enter 1.2 above.</small></br>-->
<!--                 <small>If you exercise lightly 1 - 3 times per week, enter 1.375.</small></br>-->
<!--                 <small>If you exercise 3 - 5 days per week, enter 1.55.</small></br>-->
<!--                 <small>If you exercise 6 - 7 days per week, enter 1.725. </small></br>-->
<!--                <small>If you exercise 7 days a week and also have a physically demanding job, enter 1.9.</small></br>-->
            </div>
            </br>
            <div class="">
                <label class="mr-1" for="maintenanceCalories">Maintenance Calories:</label>
                <input id="maintenanceCalories" class="mb-3 outline-none bg-blue-100" th:field="*{maintenanceCalories}"
                       required autofocus="autofocus" />
            </div>
            <div class="flex justify-center text-center mt-5">
                <button type="button" class="text-white bg-cyan-500 rounded-md px-2 py-1.5 mr-3" onclick="calorieCalculator()">Calculate</button>
                <button type="submit" class="text-white bg-cyan-800 rounded-md px-2 py-1.5">Save</button>
            </div>
        </form>
    </div>

    <div class="bg-teal-100 border-2 border-black p-5 rounded-md mb-10 -mt-[296px]" id="prTable">
       <div class="border-b-2">
           <h1 class="text-center text-lg mb-3 font-semibold">Your Personal Workout Records</h1>
       </div>

    <table class="">
        <tr class="text-center">
            <th class="text-center">Exercise</th>
            <th class="text-center">Personal Record</th>
            <th class="text-center">Date Achieved</th>
        </tr>
        <tr th:each="record : ${personalRecords}">
            <td th:text="${record.key}" class="mr-6"></td>
            <td> <span th:text="${record.value.weight}" class="ml-6"></span> lbs for <span th:text="${record.value.repetitions}" class=""></span> repetitions</td>
            <td> <span th:text="${record.value.dateOfWorkout}" class="ml-6 mr-6"></span></td>
        </tr>
    </table>
    </div>
</div>
<script src="js/script.js"></script>
</body>
</html>