<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="grid place-items-center">
    <div class = "">
        <div class = "">

                <!-- login error message -->
                <div th:if="${param.error}">
                    <div class="mb-5 text-red-600 text-center">Invalid username or
                        password.</div>
                </div>

                <!-- logout message -->
                <div th:if="${param.logout}">
                    <div class="text-center">You have been logged out.</div>
                </div>

                <h1 class="font-sans mt-40 text-center text-lg"> User Login Page </h1>


                <div class="grid place-items-center mt-20 text-center border-2 border-black p-3 rounded-md">
                    <form th:action="@{/login}" method="post" >
                    <label for ="username"> Username</label>:
                    <input type="text" class = "mb-3 outline-none" id ="username" name = "username" placeholder="Enter Email" autofocus="autofocus"><br/>
                    <label for="password">Password</label>:
                    <input type="password" id="password" name="password" class="mb-3 outline-none" placeholder="Enter Password" /><br>
                        <button type="submit" name="login-submit" id="login-submit" class="border-2 border-blue-500 rounded-md px-2 m-3 hover:text-blue-500 hover:border-black">
                                LOGIN
                            </button>
                    </form>
                </div>

            <div class="text-center mt-4">
                <span class="mr-1">New user? </span>
                <a href="/" th:href="@{/registration}" class="text-white bg-[#800000] rounded-md px-2 py-1">Register here</a>

            </div>
        </div>
    </div>
</div>
</body>
</html>