<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
<!--    <link rel="stylesheet" href="css/styles.css" />-->
    <title>Fitness App</title>
</head>
<body class="bg-blue-200">
<div>
    <div th:replace="fragments/navbar :: navbar"></div>
</div>
<div class="grid grid-cols-3 mt-2 place-items-center">

    <div class="" id="mealList">
        <div class="border-2 border-black p-5 rounded-md bg-red-200 9/10" id="mList">
            <h1 class="mb-10 text-center text-lg">Meals</h1>
            <div th:each="mealDate : ${mealDates}" class="">
                <button type='button'><a th:href="@{/profile/meals/{date}(date = ${mealDate})}" th:text="${mealDate}"></a></button>
<!--                <span th:text="${dailyCals}"></span>-->
            </div>
        </div>
    </div>
    <div class="" id="profileInfo">
        <h1 class="mb-2 text-center text-lg"><span sec:authentication="principal.username" class="underline underline-offset-1"></span></h1>
        <div class="grid grid-cols-2 border-2 border-black bg-cyan-100 p-5 rounded-md w-full" >
            <div class="">
                <p>First name:  <span th:text="${user.firstName}" class="ml-1"></span></p>
                <p>Street:  <span th:text="${user.streetAddress}" class="ml-1"></span></p>

                <p>State:  <span th:text="${user.state}" class="ml-1"></span></p>
                <p>Phone1:  <span th:text="${user.phone1}" class="ml-1"></span></p>
                <p>Birthdate:  <span th:text="${user.dateOfBirth}" class="ml-1"></span></p>
            </div>
           <div class="ml-8">

               <p>Last name:  <span th:text="${user.lastName}" class="ml-1"></span></p>
               <p>City:  <span th:text="${user.city}" class="ml-1"></span></p>

               <p>Zip:  <span th:text="${user.zipCode}" class="ml-1"></span></p>

               <p>Height:  <span th:text="${user.height}" class="ml-1"></span> inches</p>
               <p>Weight:  <span th:text="${user.weight}" class="ml-1"></span> pounds</p>
           </div>

        </div>
    </div>
    <div class="" id="WorkoutList">
        <div class="border-2 border-black bg-violet-200 p-5 rounded-md w-9/10" >
            <h1 class="mb-10 text-center text-lg">Workouts</h1>
            <div th:each="workoutDate : ${workoutDates}" class="">
                <button type='button'><a th:href="@{/profile/workouts/{date}(date = ${workoutDate})}" th:text="${workoutDate}"></a></button>
            </div>
        </div>
    </div>
</div>
<div class="flex justify-evenly" id="modalContainer">
    <div th:replace="fragments/modals :: mealModal" class=""></div>
    <div th:replace="fragments/modals :: workoutModal" class=""></div>
</div>

<script src="js/script.js"></script>
</body>
</html>