<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Registration Page</title>
</head>
<body class="bg-blue-200">

<!--Insert NavBar Fragment-->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- success message -->
<div th:if="${param.success}">
    <div class="grid place-items-center">
        <p>
            You've successfully registered!
        </p>
    </div>
</div>


<!--Create Registration Form-->
<div class="grid place-content-center h-screen">

    <div class="border-2 border-black p-5 rounded-md">
                <form th:action="@{/registration}" method="post" th:object="${user}">
                        <h1 class="font-sans text-center text-lg mb-3">Register</h1>
                    <div class="">
                        <label class="" for="firstName">First Name</label>:
                        <input id="firstName" class="mb-3 outline-none" th:field="*{firstName}"
                               required autofocus="autofocus" />
                    </div>
                    <div class="">
                        <label class="" for="lastName"> Last Name</label>:
                        <input id="lastName" class="mb-3 outline-none" th:field="*{lastName}"
                            required autofocus="autofocus" />
                    </div>
                    <div class="">
                        <label class="" for="email"> Email </label>:
                        <input id="email" class="mb-3 outline-none" th:field="*{email}" required
                            autofocus="autofocus" />
                    </div>
                    <div class="">
                        <label class="" for="password"> Password </label>:
                        <input id="password" class="mb-3 outline-none" type="password"
                            th:field="*{password}" required autofocus="autofocus" />
                    </div>
                    <div class="">
                        <label class="" for="street_address">Street Address</label>:
                        <input id="street_address" class="mb-3 outline-none" type="text"
                            th:field="*{streetAddress}" required autofocus="autofocus" />
                    </div>

                    <div class="">
                        <label class="" for="city">City</label>:
                        <input id="city" class="mb-3 outline-none" type="text"
                            th:field="*{city}" required autofocus="autofocus" />
                    </div>
                    <div class="">
                        <label class="" for="state">State</label>:
                        <input id="state" class="mb-3 outline-none" type="text"
                            th:field="*{state}" required autofocus="autofocus" />
                    </div>
                    <div class="">
                        <label class="" for="zip_code">Zip Code</label>:
                        <input id="zip_code" class="mb-3 outline-none" type="text"
                            th:field="*{zipCode}" required autofocus="autofocus" />
                    </div>
                    <div class="">
                        <label class="" for="phone1">Phone 1</label>:
                        <input id="phone1" class="mb-3 outline-none" type="text"
                            th:field="*{phone1}" required autofocus="autofocus" />
                    </div>
<!--                    <div class="">-->
<!--                        <label class="" for="phone2">Phone 2</label>:-->
<!--                        <input id="phone2" class="mb-3 outline-none" type="text"-->
<!--                            th:field="*{phone2}" required autofocus="autofocus" />-->
<!--                    </div>-->
                    <div class="">
                        <label class="" for="dateOfBirth">Date of Birth</label>:
                        <input id="dateOfBirth" class="mb-3 outline-none" type="text"
                            th:field="*{dateOfBirth}" required autofocus="autofocus" />
                    </div>
                    <div class="">
                        <label class="" for="height">Height</label>:
                        <input id="height" class="mb-3 outline-none" type="text"
                            th:field="*{height}" required autofocus="autofocus" />
                    </div>
                    <div class="">
                        <label class="" for="weight">Weight</label>:
                        <input id="weight" class="mb-3 outline-none" type="text"
                            th:field="*{weight}" required autofocus="autofocus" />
                    </div>
                    <div class="text-center mt-5">
                        <button type="submit" class="text-white bg-[#800000] rounded-md px-2 py-1">REGISTER</button>
                        <div class="mt-3">
                            <span class="mr-3">Already registered?</span>
                            <a href="/" th:href="@{/login}" class="text-white bg-blue-500 rounded-md px-2 py-1">LOGIN
								</a></div>
                    </div>
                </form>



    </div>

</div>

<!--Create Footer-->

</body>
</html>