<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Registration Page</title>
</head>
<body>

<!--Insert NavBar Fragment-->

<div th:insert="fragments/navbar :: navbar"></div>


<!--Create Registration Form-->
<div class="grid place-items-center h-screen">
        <div class="">
            <div class="">

                <!-- success message -->
                <div th:if="${param.success}">
                    <div class="">You've successfully registered!</div>
                </div>

                <h1>Register</h1>

                <form th:action="@{/registration}" method="post" th:object="${user}">
                    <div class="">
                        <label class="" for="firstName"> First Name </label>
                        <input id="firstName" class="" th:field="*{firstName}"
                               required autofocus="autofocus" />
                    </div>

                    <div class="">
                        <label class="" for="lastName"> Last Name </label> <input
                            id="lastName" class="" th:field="*{lastName}"
                            required autofocus="autofocus" />
                    </div>

                    <div class="">
                        <label class="" for="email"> Email </label> <input
                            id="email" class="" th:field="*{email}" required
                            autofocus="autofocus" />
                    </div>

                    <div class="">
                        <label class="" for="password"> Password </label> <input
                            id="password" class="" type="password"
                            th:field="*{password}" required autofocus="autofocus" />
                    </div>

                    <div class="">
                        <button type="submit" class="">Register</button>
                        <span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!--Create Footer-->

</body>
</html>