<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sets</title>
</head>
<body class="">

<!--Insert NavBar Fragment-->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- success message -->
<!--<div th:if="${param.success}">-->
<!--    <div class="grid place-items-center">-->
<!--        <p>-->
<!--            You've successfully added a Set!-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->
<h1 class="grid place-items-center mt-5 mb-3">Add Sets - Save Workout</h1>

<!-- Show Sets-->
<div class="grid place-items-center" id="setsGrid">
    <div class="grid grid-cols-4">
        <div th:each="set : ${sets}" class="relative bg-red-100 border-2 border-black p-5 rounded-md mt-3 mr-2 text-center w-72">
            <form th:action="@{'/sets/delete/{setId}'(setId=${set.id})}" th:method="post">
                <button type="submit" class="absolute top-1 right-4 text-slate-500 text-2xl font-bold cursor-pointer" id="deleteSet">&times;</button>
            </form>
            <p class="text-orange-500 font-semibold">Exercise</p>
            <p th:text="${set.exercise.getName()}" class="text-black"></p>
            <p class="text-orange-500 font-semibold">Repetitions</p>
            <p th:text="${set.repetitions}" class="text-black"></p>
            <p class="text-orange-500 font-semibold">Weight</p>
            <div th:text="${set.weight}" class="text-black"></div>
        </div>
    </div>

</div>

<div class="flex justify-center">
<!--  Add Set Form -->
<div class="grid place-items-center mr-3">
    <div class="border-2 border-black p-5 rounded-md mt-5 bg-blue-200" id="addSetForm">
        <form th:action="@{/sets}" method="post" th:object="${set}">
            <h1 class="font-sans font-semibold text-center text-lg mb-3">Add Set</h1>
            <div class="">
                <label class="" for="repetitions">Repetitions</label>:
                <input id="repetitions" class="mb-3 ml-1 outline-none" th:field="*{repetitions}"
                       required autofocus="autofocus" />
            </div>
            <div class="">
                <label class="" for="weight">Weight</label>:
                <input id="weight" class="mb-3 ml-1 outline-none" th:field="*{weight}"
                       required autofocus="autofocus" />
            </div>
            <div class="">
                <label class="" for="exercise">Exercise</label>:
                <select th:field="*{exercise}" id="exercise" class="ml-1">
                    <option value="0"></option>
                    <option th:each="exercise : ${exercises}" th:value="${exercise.getName()}" th:text="${exercise.getName()}"></option>
                </select>
            </div>

            <div class="text-center mt-5">
                <button type="submit" class="text-white bg-green-700 rounded-md px-2 py-1.5">Add Set</button>
<!--                <button type="button" class="text-white bg-green-800 rounded-md px-2 py-1.5" onclick="displaySaveWorkout()">Save Workout</button>-->
            </div>
        </form>
    </div>
</div>
<!--    // Save Workout Form-->
<!--    <div class="border-2 border-black p-5 rounded-md mt-5 hidden" id="saveWorkoutForm">-->
<!--        <form th:action="@{/workout/create}" method="patch" th:object="${workout}">-->
<!--            <h1 class="font-sans text-center text-lg mb-3">Save Workout</h1>-->
<!--            <div class="">-->
<!--                <label class="" for="repetitions">Date</label>:-->
<!--                <input id="workoutDate" class="mb-3 outline-none" th:field="*{dateOfWorkout}"-->
<!--                       required autofocus="autofocus" />-->
<!--            </div>-->
<!--            <div class="">-->
<!--                <label class="" for="weight">Duration</label>:-->
<!--                <input id="workoutDuration" class="mb-3 outline-none" th:field="*{duration}"-->
<!--                       required autofocus="autofocus" />-->
<!--            </div>-->
<!--            <div class="">-->
<!--                <label class="" for="exercise">Workout Name</label>:-->
<!--                <input id="workoutName" class="mb-3 outline-none" th:field="*{workoutName}"-->
<!--                       required autofocus="autofocus" />-->
<!--            </div>-->

<!--            <div class="text-center mt-5">-->
<!--                <button type="submit" class="text-white bg-green-800 rounded-md px-2 py-1.5" >Save Workout</button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--Workout Info Form-->
<div class="grid place-items-center" id="saveWorkoutForm">
    <div class="border-2 border-black bg-blue-200 p-5 rounded-md mt-5 flex justify-center">
        <form th:action="@{/workout/update}" method="post" th:object="${workout}" class="">
            <!--                <h1 class="font-sans text-center text-lg mb-3">Save Workout</h1>-->
            <div class="">
                <h1 class="font-sans text-center font-semibold text-lg mb-3">Save Workout</h1>
<!--                <label class="" for="dateOfWorkout">Date</label>:-->
<!--                <input id="dateOfWorkout" class="outline-none ml-1 mb-3" th:field="*{dateOfWorkout}"-->
<!--                       required autofocus="autofocus" />-->
            </div>
            <div class="">
                <label class="" for="duration">Duration</label>:
                <input id="duration" class="outline-none ml-1 mb-3" th:field="*{duration}"
                       required autofocus="autofocus" />
            </div>
            <div class="">
                <label class="" for="workoutName">Workout Name</label>:
                <input id="workoutName" class="outline-none ml-1" th:field="*{workoutName}"
                       required autofocus="autofocus" />
            </div>

            <div class="text-center">
                <button type="submit" class="text-white font-seminold bg-green-700 rounded-md px-2 py-1.5 mt-5" >Save Workout</button>
            </div>
        </form>
    </div>
</div>
</div>

<!--Create Footer-->
<script src="js/script.js"></script>
</body>
