<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Workouts</title>
    <link th:href="@{css/styles.css}" rel="stylesheet" />
</head>
<body class="bg-blue-200">

<!--Insert NavBar Fragment-->

<div th:replace="fragments/navbar :: navbar"></div>

<!-- success message -->
<!--<div th:if="${param.success}" class="">-->
<!--    <div class="grid place-items-center">-->
<!--        <p>-->
<!--            You've successfully added an Exercise!-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->
<h1 class="grid place-items-center mt-5 mb-5">Workouts</h1>

<!-- Show Workouts-->
<div class="grid place-items-center">
    <div class="grid grid-cols-4">
        <div th:each="workout : ${workouts}" class="relative border-2 border-black p-5 pr-7 rounded-md mt-3 mr-2 text-center w-72 bg-green-200">
            <form th:action="@{'/workout/delete/{workoutId}'(workoutId=${workout.id})}" th:method="post">
                <button type="submit" class="absolute top-1 right-4 text-slate-500 text-2xl font-bold cursor-pointer" id="deleteWorkout">&times;</button>
            </form>
           <p>Name: <span th:text="${workout.workoutName}" class="text-black font-semibold">none</span></p>
            <p>Date: <span th:text="${workout.dateOfWorkout}" class="text-black"></span></p>
            <p>Duration: <span th:text="${workout.duration}" class="text-black"></span> minutes</p>
            <br/>
            <table class="w-[250px]">
                <tr>
                    <th>Exercise</th>
                    <th>Weight</th>
                    <th>Repetitions</th>
                </tr>
                <tr th:each="set : ${workout.sets}">
                    <td th:text="${set.exercise.getName()}"></td>
                    <td th:text="${set.weight}"></td>
                    <td th:text="${set.repetitions}"></td>
                </tr>
            </table>
        </div>
    </div>

</div>


<!--Create Footer-->

</body>
</html>